*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
.bg-img{
    height: 100vh;
    width: 100%;
    background-image: url(/destination-img/background-destination-desktop.jpg);
}
nav{
    height: 96px;
    width: 830px;
    position: absolute;
    top: 90px;
    right: -80px;
}

ul li{
    list-style: none;
    display: inline-block;
    margin-left: 25px;
}

ul li a{
    text-decoration: none;
    color: #ffffffc2;
    font-family: Barlow Condensed;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}

ul li a:hover {

 color: rgb(117, 168, 255);

}

.blur-navi{
    height: 96px;
    width: 830px;
    position: absolute;
    top: 50px;
    right: 0;
    background: rgba(255, 255, 255, 0.04);
backdrop-filter: blur(40.774227142333984px);
}

.logo{
    height: 150px;
    width: 900px;
    background-color: red;
}