*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Barlow Condensed;

}
body{
    position: relative;
}
.bg-img{
    height: 120vh;
    width: 100%;
    background-image: url(/destination/destination-img/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    height: 96px;
    width: 830px;
    position: absolute;
    top: 80px;
    right: 60px;
}

ul li{
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    margin-top: 9px;
}

ul li a{
    text-decoration: none;
    color: #ffffffc2;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}

ul li a:hover {

 color: rgb(117, 168, 255);
}

.blur-navi{
    height: 96px;
    width: 930px;
    position: absolute;
    top: 50px;
    right: 0;
    background: rgba(255, 255, 255, 0.04);
backdrop-filter: blur(40.774227142333984px);
}

.logo{
    height: 150px;
    width: 900px;
    background-color: transparent;
}

.bl{
    height: 1px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.466);
    margin-top: -29px;
    margin-left: 200px;
    display: over;

}
.logo img{
    margin-top: 76px;
    margin-left: 70px;
}

.content-img{
    height: 550px;
    width: 650px;
    background-color:transparent;
    margin-left: 150px;
    margin-top: 200px;
}

.content-img img{
    margin: 10px 90px;
    height: 350px;
    width: 350px;
}
.content-heading p{
    color: #FFF;
    font-family: 'Barlow Condensed', sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 4.725px;
text-transform: uppercase;
display: inline-block;
margin-left: 20px;
}
.content-heading{
    margin: 50px 50px;

}

.content{
    width: 500px;
    height: 500px;
    background-color: transparent;
    margin: 270px 20px 0px 850px;
}

.content h1{
    color: #FFF;
font-family: Bellefair;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 20px 20px;
}

.content p{
    color: #D0D6F9;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 177.778% */
margin: 20px 20px;
}
.line{
    height: 5px;
    width: 70px;
    color: rgb(255, 0, 0);
    margin-bottom: 20px;
}
hr{
width: 440px;
margin: 34px 19px;
}

.more-details{
    height: 100px;
    width: 100%;
    background-color: transparent;
    display: flex;
}
.distance{
    margin-top: -20px;
}
.distance h2{
    margin-top: -20px;
    margin-left: 20px;
    color: #FFF;
font-family: Bellefair;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

.distance p{
    color: #D0D6F9;
font-family: Barlow Condensed;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2.362px;
text-transform: uppercase;
}
.time{
    margin-top: -20px;
    margin-left: 100px;
}

.time p{
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
}

.time h2{
    margin-top: -20px;
    margin-left: 20px;
    color: #FFF;
font-family: Bellefair;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

.marker1{
    height: 5px;
    width: 600px;
    background-color: trnsparent;
    position: absolute;
    top: 143px;
    right: 265px;
    display: flex;
}
.Mark1{
    background-color: transparent;
    height: 1px;
    width: 65px;
}
.Mark2{
    background-color: white;
    height: 1px;
    width: 115px;
    margin-left: 30px;
    margin-bottom: 2px;
}
.Mark3{
    background-color: transparent;
    height: 1px;
    width: 65px;
    margin-left: 30px;

}
.Mark4{
    background-color: transparent;
    height: 1px;
    width: 120px;
    margin-left: 30px;
}

.marker2{
    height: 5px;
    width: 265px;
    background-color: transparent;
    margin-top: 10px;
    margin-left: 26px;
    display: flex;
}

.mark1{
    height: 1px;
    width: 37px;
    background-color: white;
}

.mark2{
    height: 1px;
    width: 36px;
    background-color: transparent;
    margin-left: 32px;
}

.mark3{
    height: 1px;
    width: 56px;
    background-color: transparent;
    margin-left: 30px;
}

.mark4{
    height: 1px;
    width: 41px;
    background-color: transparent;
    margin-left: 30px;
}